@import "fonts.css";

html, body {
  background-image: url("../images/paper_texture.jpg");
  background-color: #74ed97;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}
header {
  padding: 20px;
  padding-left: 25px;
}

 header a {
   color: white;
   text-decoration: none;
   font-size: 14pt;
   padding: 10px;
   font-weight: bold;
   background: none;
   border: none;
 }

div {
background: white;
padding: 30px 60px 45px 60px;
width: 600px;
border-radius: 5px;
margin-left: 14.844vw;
}
a {
  background-color: white;
  color: #7ba2e4;
  text-decoration: none;
  font-size: 18pt;
  padding: 15px;
  border-radius: 5px;
  border-width: thick;
  border-style: solid;
  font-weight: bold;
  font-family: 'Code Pro', sans-serif;


}
p {
  font-family: 'Fira Sans UltraLight', sans-serif;
  font-size: 18pt;
  color: #3C7D7E;
  text-align: center;
  padding-bottom: 10px;
}

nav {
  display: flex;
  flex-direction: column;
  width: 270px;
  margin-left: 160px;
  text-align: center;
}

nav a {
  margin-bottom:  15px;
}

@media (min-width: 1440px) {
div {
  margin-left:  25vw;
}
}

@media (min-width: 1920px) {
div {
  margin-left:  31.250vw;
}
}

@media (min-width: 2048px) {
div {
  margin-left:  32.422vw;
}
}

@media (min-width: 2560px) {
div {
  margin-left:  35.938vw;
}
}
